@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.btn-fill {
  border: none;
  background: linear-gradient(to right, #4E68FA, #4F39E9);
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
}

.home-hero {
  background-color: rgba(112, 72, 231, 0.05);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-hero .hero-ellipse {
  position: absolute;
  top: 50%;
  right: -7.5%;
  transform: translate(0, -50%);
  opacity: 0.65;
}
.home-hero .particle-1 {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 70px;
  opacity: 0.7;
  animation: particle_animation 40s ease-in-out alternate infinite;
  animation-delay: 5s;
}
.home-hero .particle-2 {
  position: absolute;
  top: 54%;
  left: 62%;
  width: 40px;
  animation: particle_animation 30s ease-in-out alternate infinite;
  animation-delay: 2s;
}
.home-hero .particle-3 {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 60px;
  animation: particle_animation 20s ease-in-out alternate infinite;
}
.home-hero .form-block {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
  width: 40%;
}
.home-hero .form-block h2 {
  font-weight: 400;
  line-height: 1.5;
}
.home-hero .form-block h1 {
  font-weight: 700;
  font-size: 3.5rem;
  width: fit-content;
  background: linear-gradient(to right, #4462EF, #EB4788);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.5rem;
}
.home-hero .form-block .form-control {
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.home-hero .form-block .form-control:not(textarea) {
  height: 55px;
}
.home-hero .form-block textarea {
  padding-top: 0.75rem;
}
.home-hero .form-block .captcha-modal {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.home-hero .form-block .captcha-modal.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  transition: all 0.3s ease;
}
.home-hero .form-block .captcha-modal.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
.home-hero .form-block .captcha-modal .bi {
  font-size: 1.5rem;
  color: #333;
  position: absolute;
  top: 15px;
  right: 20px;
}
.home-hero .form-block .captcha-modal p {
  margin-top: 1.5rem;
}
.home-hero .form-block .captcha-modal .cta-btn {
  margin-top: 1rem;
  position: unset;
  transform: unset;
}
.home-hero .form-block .cta-btn {
  width: 40%;
}
.home-hero .cta-section {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  z-index: 999;
}
.home-hero .cta-section .cta-block {
  background-color: rgba(0, 13, 129, 0.85);
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.home-hero .cta-section .cta-block.short {
  margin-left: -140px;
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  .home-hero .cta-section .cta-block.short:hover {
    margin-left: 0;
  }
}
.home-hero .cta-section .cta-block.long {
  margin-left: -532px;
  transition: all 0.3s ease-in-out;
}
.home-hero .cta-section .cta-block.active {
  margin-left: 0;
}
.home-hero .cta-section .cta-block .inner-wrapper {
  display: flex;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block {
  padding: 0.5rem 1rem;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block .title {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  text-align: right;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block .tel {
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: right;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block .form-wrapper {
  padding: 1rem 2rem;
  width: 100%;
  max-width: 500px;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: white;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block .form-control {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 225, 0.5);
  padding-left: 0;
  padding-right: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
}
.home-hero .cta-section .cta-block .inner-wrapper .content-block .form-control:focus, .home-hero .cta-section .cta-block .inner-wrapper .content-block .form-control:active {
  box-shadow: none;
  outline: none;
}
.home-hero .cta-section .cta-block .inner-wrapper .head {
  background: linear-gradient(to bottom, #4E68FA, #1400A4);
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  cursor: pointer;
}
.home-hero .cta-section .cta-block .inner-wrapper .head .bi {
  color: white;
  font-size: 1.5rem;
}
.home-hero .cta-section .cta-block .inner-wrapper .head .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home-hero .cta-section .cta-block .inner-wrapper .head .wrapper p {
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  letter-spacing: 3px;
}
.home-hero .hero-slider {
  border-radius: 10px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: rgba(255, 255, 225, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(0, -50%);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 40%;
}
.home-hero .hero-slider .bi {
  font-size: 2rem;
  color: #4F3BEA;
  line-height: 1;
}
.home-hero .hero-slider .slide-img {
  width: 100%;
  border-radius: 10px;
}

.home-services {
  padding: 5rem 0 7.5rem;
  background-color: #fff;
  position: relative;
}
.home-services::before {
  content: "";
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 7.5rem;
  background-color: #00154e;
  z-index: 0;
}
.home-services * {
  position: relative;
  z-index: 1;
  color: #fff;
}
.home-services .title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
}
.home-services .service-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.home-services .service-blocks a {
  text-decoration: none;
}
.home-services .service-blocks .block {
  flex: 0 0 26%;
}
.home-services .service-blocks .block img {
  width: 45px;
  margin-bottom: 1.5rem;
  filter: invert(1);
}
.home-services .service-blocks .block .card-title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}
.home-services .service-blocks .block p {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}

.home-about {
  padding: 5rem 0 10rem;
}
.home-about h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.home-about p {
  font-weight: 300;
  line-height: 1.5;
}

.home-contact {
  padding: 6rem 0;
  background-color: #EDE6FF;
  position: relative;
  overflow: hidden;
}
.home-contact h3 {
  font-weight: 600;
  margin-bottom: 2rem;
}
.home-contact .form-control {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: transparent;
  font-weight: 300;
  resize: none;
}
.home-contact .form-control:not(textarea) {
  height: 45px;
}
.home-contact .form-control:focus, .home-contact .form-control:active {
  box-shadow: none;
  outline: none;
}
.home-contact img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 45%;
  object-fit: cover;
}

@keyframes particle_animation {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(-4rem, -4rem, 0);
  }
  40% {
    transform: translate3d(8rem, 4rem, 0);
  }
  60% {
    transform: translate3d(8rem, -4rem, 0);
  }
  80% {
    transform: translate3d(-8rem, 4rem, 0);
  }
}
@media screen and (max-width: 991px) {
  .home-hero .form-block {
    width: 70%;
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    transform: unset;
    margin: 5rem auto;
  }
  .home-hero .hero-slider {
    width: 70%;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    margin: 6rem auto 0;
  }
  .home-hero .cta-section {
    transform: unset;
    top: 10%;
  }

  .home-services {
    padding-top: 5rem;
  }
  .home-services .test-web-block {
    margin-bottom: 5rem;
    position: relative;
  }
  .home-services .test-web-block img {
    display: none;
  }
  .home-services .service-blocks .block {
    flex: 0 0 35%;
  }

  .home-contact img {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  .home-contact h3 {
    color: white;
    position: relative;
    z-index: 2;
  }
  .home-contact form {
    position: relative;
    z-index: 2;
  }
  .home-contact form .form-control {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
  }

  .home-about {
    padding: 5rem 0 5rem;
  }
}
@media screen and (max-width: 767px) {
  .home-hero .form-block,
.home-hero .hero-slider {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {
  .home-hero .form-block,
.home-hero .hero-slider {
    width: 90%;
    text-align: center;
  }
  .home-hero .form-block {
    margin: 2rem auto 5rem;
  }
  .home-hero .form-block h2 {
    font-size: 1.5rem;
  }
  .home-hero .form-block h1 {
    font-size: 2rem;
    text-align: center;
    width: unset;
  }
  .home-hero .cta-section {
    display: none;
  }

  .home-services .service-blocks .block {
    flex: 0 0 50%;
    text-align: center;
  }

  .home-about {
    text-align: center;
  }
}
nav {
  padding: 1rem 0;
  background-color: #f8f6fe;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav .nav-trigger {
  color: #333;
  font-size: 1.75rem;
  position: absolute;
  top: 15px;
  right: 15%;
  display: none;
}
nav .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in-out;
}
nav .contacts a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
nav .contacts a .bi {
  font-size: 1rem;
  color: #4F3BEA;
}

@media screen and (max-width: 991px) {
  nav .nav-trigger {
    display: block;
  }
  nav .contacts {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    transform: unset;
    top: unset;
    right: unset;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
  }
  nav .contacts.active {
    display: flex;
  }
}
/*# sourceMappingURL=footer.css.map */
.footer-section {
  padding-top: 35px;
  background: linear-gradient(to bottom, #7048E7, #16054B);
}
.footer-section .links .header {
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
}
.footer-section .links .header img {
  width: 250px;
}
.footer-section .links .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.45);
  padding: 20px 30px;
  height: 375px;
}
.footer-section .links .body .navbar-nav .nav-item:first-child {
  font-size: 16px;
  color: #fff;
  margin-bottom: 25px;
}
.footer-section .links .body .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  position: relative;
  display: inline-block;
}
.footer-section .links .body .navbar-nav .nav-item .nav-link::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
.footer-section .links .body .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.footer-section .links .footer {
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-section .contact-info .header {
  height: 80px;
  background: linear-gradient(to right, #4F39E9, #4E68FA);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-section .contact-info .header a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
}
.footer-section .contact-info .header a:hover img {
  transform: rotate(15deg);
}
.footer-section .contact-info .header a:hover .title {
  transform: scale(1.1);
}
.footer-section .contact-info .header img {
  transition: all 0.3s ease;
}
.footer-section .contact-info .header .title {
  transition: all 0.3s ease;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.footer-section .contact-info .header .bi {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 25px;
  color: #00aeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-section .contact-info .body {
  border: 1px solid rgba(255, 255, 255, 0.45);
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-section .contact-info .body .contact {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer-section .contact-info .body .contact:not(:nth-last-child(1)) {
  margin-bottom: 1.5rem;
}
.footer-section .contact-info .body .contact .bi {
  font-size: 40px;
  color: #fff;
}
.footer-section .contact-info .body .contact .block .title {
  font-size: 0.9rem;
  color: #fff;
}
.footer-section .contact-info .body .contact .block a {
  text-decoration: none;
  color: #fff;
}
.footer-section .contact-info .footer {
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-section .contact-info .footer .newsletter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section .contact-info .footer .newsletter label .submit-btn {
  border: none;
  width: 115px;
  height: 50px;
  border-radius: 50px;
  background-color: #00AEEF;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}
.footer-section .contact-info .footer .newsletter input {
  max-width: 360px;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: #101E40;
  padding: 10px 125px 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.footer-section .copyright-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 1rem;
}
.footer-section .copyright-block .terms {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.footer-section .copyright-block .copyright {
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.social-media {
  padding: 0.5rem 1rem;
}
.social-media .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.social-media .navbar-nav .nav-item .nav-link {
  color: #fff;
}
.social-media .navbar-nav .nav-item .nav-link .bi {
  font-size: 1.25rem;
  color: #fff;
}

@media screen and (max-width: 1399px) {
  .footer-section .contact-info .body .business {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .footer-section .contact-info .body .media {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer-section .contact-info .body .contact .header-block {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .footer-section .contact-info .body .contact .header-block .title {
    min-width: unset;
  }
}
@media screen and (max-width: 991px) {
  .footer-section .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer-section .inner-wrapper > div {
    width: 100%;
  }
  .footer-section .contact-info .body .contact a {
    text-align: center;
    padding: 0;
    display: block;
  }
}
@media screen and (max-width: 574px) {
  .footer-section .links .header {
    justify-content: center;
  }
  .footer-section .links .body {
    display: flex;
    flex-direction: column !important;
    gap: 4rem;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
